In [50]:
 %matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data

city_csv = pd.read_csv(city_data_to_load)
ride_csv = pd.read_csv(ride_data_to_load)

# Combine the data into a single dataset

city_ride_df = pd.merge(city_csv, ride_csv, on="city", how="left")

# Display the data table for preview

city_ride_df.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850

In [67]:
# Obtain the x and y coordinates for each of the three city types

count_city_groups = city_ride_df.groupby(["city", "type"]).count()

reset_count_city_groups = count_city_groups.reset_index()

index_count_city_groups = reset_count_city_groups_reset.set_index("city")


mean_city_groups = city_ride_df.groupby(["city", "type"]).mean()

reset_mean_city_groups = mean_city_groups.reset_index()

index_mean_city_groups = city_groups_reset.set_index("city")


sum_city_groups = city_ride_df.groupby(["city", "type"]).sum()

reset_sum_city_groups = sum_city_groups.reset_index()

index_sum_city_groups = reset_city_groups_reset.set_index("city")

rural_group
#city_groups_r = city_ride_df.loc[(city_ride_df["type"] =="Rural")]

#city_groups_s = city_ride_df.loc[(city_ride_df["type"] =="Suburban")]

#city_groups_u = city_ride_df.loc[(city_ride_df["type"] =="Urban")]

#ride_count_r = city_groups_r["ride_id"].count()

#ride_count_s = city_groups_s["ride_id"].count()

#ride_count_u = city_groups_u["ride_id"].count()

#avg_fare_r = city_groups_r["fare"].mean()

#avg_fare_s = city_groups_s["fare"].mean()

#avg_fare_u = city_groups_u["fare"].mean()

# Build the scatter plots for each city types

#plt.scatter(ride_count_r, avg_fare_r, marker ="o", color="yellow")
#plt.scatter(ride_count_s, avg_fare_s, marker ="o", color="red")
#plt.scatter(ride_count_u, avg_fare_u, marker ="o", color="blue")



# Incorporate the other graph properties

#plt.title("Pyber Ride Sharing Data (2016)")
#plt.xlabel("Total Number of Rides (Per City)")
#plt.ylabel("Average Fare ($)")

#plt.show()

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

18